## Preprocessing

In [240]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [241]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['NAME', 'EIN'], axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [242]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [243]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [244]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_counts[app_counts < 1000].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [190]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
print(class_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [245]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_g_one = class_counts[class_counts > 1]
print(class_counts_g_one)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [246]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_counts[class_counts < 500].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [247]:
#df data types
application_df.dtypes

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [248]:
application_df = pd.get_dummies(application_df)

In [249]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [250]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [251]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 128
hidden_nodes_layer2 = 64



nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_30"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_105 (Dense)           (None, 128)               5376

 dense_106 (Dense)           (None, 64)                8256

 dense_107 (Dense)           (None, 1)                 65

=================================================================
Total params: 13,697
Trainable params: 13,697
Non-trainable params: 0
_________________________________________________________________

In [252]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [253]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5708 - accuracy: 0.7224
Epoch 2/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5579 - accuracy: 0.7273
Epoch 3/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5542 - accuracy: 0.7309
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5530 - accuracy: 0.7308
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7299
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5503 - accuracy: 0.7321
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7304
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7322
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7317
Epoch 10/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7330
Epoch 11/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5473 - accuracy: 0.7341
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7342
Epoch 13/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7339
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7334
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7343
Epoch 16/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7348
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7348
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7345
Epoch 19/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7358
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7360

In [254]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5561 - accuracy: 0.7329 - 467ms/epoch - 2ms/step
Loss: 0.5561032891273499, Accuracy: 0.7329446077346802

In [272]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 60



nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_36"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_127 (Dense)           (None, 100)               4200

 dense_128 (Dense)           (None, 60)                6060

 dense_129 (Dense)           (None, 1)                 61

=================================================================
Total params: 10,321
Trainable params: 10,321
Non-trainable params: 0
_________________________________________________________________

In [273]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [274]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5735 - accuracy: 0.7188
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5597 - accuracy: 0.7270
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5569 - accuracy: 0.7274
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5552 - accuracy: 0.7285
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7297
Epoch 6/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5528 - accuracy: 0.7301
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7310
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7323
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7312
Epoch 10/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7321
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5495 - accuracy: 0.7311
Epoch 12/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7322
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7308
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7335
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7334
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7321
Epoch 18/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7340
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7323
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7348

In [275]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5570 - accuracy: 0.7292 - 459ms/epoch - 2ms/step
Loss: 0.5569913387298584, Accuracy: 0.7292128205299377

In [268]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 40
hidden_nodes_layer3 = 20


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_35"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_123 (Dense)           (None, 100)               4200

 dense_124 (Dense)           (None, 40)                4040

 dense_125 (Dense)           (None, 20)                820

 dense_126 (Dense)           (None, 1)                 21

=================================================================
Total params: 9,081
Trainable params: 9,081
Non-trainable params: 0
_________________________________________________________________

In [269]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [270]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 3s 2ms/step - loss: 0.5734 - accuracy: 0.7199
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5567 - accuracy: 0.7285
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - accuracy: 0.7304
Epoch 4/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7300
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5515 - accuracy: 0.7312
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7317
Epoch 7/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7320
Epoch 8/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7318
Epoch 9/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7332
Epoch 10/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7345
Epoch 11/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7327
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7345
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7332
Epoch 14/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7340
Epoch 15/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7348
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 17/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7356
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7357
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7353
Epoch 20/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7350

In [271]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5564 - accuracy: 0.7313 - 513ms/epoch - 2ms/step
Loss: 0.5564180016517639, Accuracy: 0.7313119769096375

In [ ]:
# Export our model to HDF5 file
nn.save('C:/Users/olivereve/Documents/GitHub/deep-learning-challenge/AlphabetSoupCharity_Optimization.h5')